@import "vars";
@import "fonts";
@import "libs";

/* ::placeholder {
	color: $light;
}

::selection {
	background-color: darken($primary, 25%);
	color: #fff;
} */

body {
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}






































// @import "media"; // Always at the end
